* {
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    padding: 12px;
    border-bottom: solid 1px #e8e8e8;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.11),
      0 6px 16px -11px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    margin-bottom: 15px;
    z-index: 999;
  }
  
  .nav-header {
    background-color: white;
    border-bottom: 0;
    padding: 0 4px 0 24px;
  }
  
  .logo {
    width: 200px;
    float: left;
  }
  
  .logo a {
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
  }
  
  .navbar-menu {
    width: calc(100% - 200px);
    float: left;
  }
  .navbar-menu .ant-layout-header {
    padding: 0 20px;
  }
  
  .navbar-menu .ant-menu-horizontal {
    border-bottom: 0;
  }
  
  .navbar-menu .ant-menu-item {
    padding-bottom: 0px;
  }
  
  .navbar-menu .leftMenu {
    float: left;
    width: 90%;
  }
  
  .navbar-menu .rightMenu {
    float: right;
  }
  
  .menuButton {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 14px;
    display: none;
    background: none;
    margin-right: 10px;
  }
  
  .ant-drawer-body {
    padding: 0;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
  }
  
  .ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
  }
  
  .ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
  }
  
  .username {
    display: none;
    margin-left: 8px;
  }
  
  @media (max-width: 767px) {
    .menuButton {
      display: block;
      margin-right: 10px;
    }
  
    .leftMenu,
    .rightMenu {
      display: none;
    }
  
    .logo a {
      margin-left: -10px;
    }
  
    .ant-drawer-title > .brand-font {
      margin-bottom: 0;
    }
  
    .username {
      display: inline-block;
    }
  }
  /* Navbar End */

  .movies {
    margin: 40px;
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .movie-card {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: Arial, sans-serif;
  }

  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  }

  .aboutUs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.08);
  }

  .aboutUs-text {
    flex: 1;
    padding-right: 20px;
    margin: 50px;
}

.aboutUs-text h2 {
    color: #333;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 28px;
}

.aboutUs-text p {
    font-size: 16px;
    color: #494949;
    font-weight: 600;
}

.aboutUs-img {
    flex: 0 0 45%;
    padding: 25px;
}

.footer {
  background-color: #333333e7;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-center a {
  color: #fff;
  text-decoration: none;
  margin: 10px 5px;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.social-icon {
  margin-right: 10px;
}

.add-movie-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;

}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff !important;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.submit-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  width: 150px;
  height: auto;
}

.form-container {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

label {
  margin-bottom: 8px;
}

.form-input-sign-in {
  padding: 10px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}